/*******************************************************************************
* DARK SKIN
*******************************************************************************/

body {  /* General background and text color  */        
        color:#aaa;
        }

#bg-wrapper { /* Content background */  
        background:url('../../images/22297.png') repeat;
        }
        
h1, h2, h3, h4, h5, h6,
h1 a, h1 a:link, h1 a:visited,
h2 a, h2 a:link, h2 a:visited,
h3 a, h3 a:link, h3 a:visited,
h4 a, h4 a:link, h4 a:visited,
h5 a, h5 a:link, h5 a:visited,
h6 a, h6 a:link, h6 a:visited { /* headline links color*/        
        color: #fff;
        }

h6.infotitle,
li.infotitle {
        color: #aaa;
        }

a:hover,
a:active { /* General links color on mouse hover */
        color: #aaa;
        }

#loginwrapper {
        background-color: #222;
        }

.arrow-down {
	border-top: 10px solid #222;
        }  
        
ul.login li a { 
        color: #fff;
        }

.post-date {
        color: #fff;
        }
        
.blog-bottomborder
        {
        border-bottom: 1px dashed #444;
        }
        
pre, code {
        background:url('../../images/50505005.png') repeat;
        color: #ccc;
        }


/* NEWS ON HOMEPAGE / NEWS WIDGET**********************************************/

.time-ago,
.comment-nr {
        color: #777;
        }

        
/* SLIDER *********************************************************************/

#slide-bg {
        background:url('../../images/22297.png') repeat;
        }

        
/* BUTTONS ********************************************************************/

.button,
a.button,
.button1 span,
.buttonS span,
.button1,
.buttonS,
.button2,
li.comment .reply a {
        color: #fff !important;
        }

.button:hover,        
.button1:hover,
.buttonS:hover,
.button2:hover,
li.comment .reply:hover {
        background-color: #808080;
        }

.cancelled {
        color: #fff;
        background-color: #555;
        }

.soldout {
        color: #fff;
        background-color: #808080;
        }
        
        
/* AUDIO ICONS ****************************************************************/
.audioplayer-icon {
        background:url('../../images/audio_play_white.png') no-repeat;
        }

.soundcloudplayer-icon {
        background:url('../../images/soundcloud_white.png') no-repeat;
        }    


/* SELECTION ******************************************************************/

::-moz-selection {
        color: #222;
        background: #fff;
        }

::-webkit-selection {
        color: #222;
        background: #fff;
        }

::selection {
        color: #222;
        background: #fff;
        }


/* TABLE **********************************************************************/

table th {
        border-bottom: 1px dashed #444;
        }

table td {
        border-bottom: 1px dashed #444;
        }

table tr:hover td {
        background: #292929;
        }
 

/* FORMS **********************************************************************/

textarea, input {
        background-color: #444;
        color: #aaa;
        }


/* NOTIFICATION ***************************************************************/  
.error,
.moderation {
        color: #bf5665;
        }
       
        
/* WIDGETS ********************************************************************/        
        
/* news widget */

.news-widget-title h1 {
        color: #eee;
        }  

.post-info-w {
        color: #777;
        }  


/* calendar widget */

#wp-calendar tbody {
        color: #888;
        }

#wp-calendar tbody td {
        background: #292929;
        border: 2px solid #222;
        }
        

/* NAVIGATION *****************************************************************/

#topnavi {
        background:url('../../images/22290.png') repeat;
        }

.sf-menu a,
.sf-menu a:visited,
.sf-menu li a,
.sf-menu li a:active { /* navigation link color */        
        color: #fff;
        }

.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu a:active { /* navigation link color on mouseover */        
        color: #fff;
        }

.sf-menu ul,
.sf-menu ul a,
.sf-menu ul a:visited,
.sf-menu ul li a,
.sf-menu ul li a:active { /* dropdown */        
        background-color: #222;
        color: #fff;
        }
  
  
/* COMMENTS *******************************************************************/
        
.comment-topborder
        {
        border-bottom: 1px dashed #444;
        }

.comment-date,
.comment-date a {
        color: #777;
        }

.comment-date a:hover {
        color: #777
        }

.single-comment {
        background:url('../../images/00030.png') repeat;
        }

a.page-numbers {
        color: #fff;
        background-color: #333;
        }
        
span.page-numbers,
a.page-numbers:hover {
        color: #fff;
        } 

.fn {color: #eee;}

.depth-2 .comment-arrow,
.comment-counter {
        color: #666;      
        }       
        
        
/* PAGINATION *****************************************************************/

.pagination_main span, .pagination_main a {
        color: #fff !important;
        background-color: #333;
        }


/* FOOTER *********************************************************************/

#footer {/* Footer background color */        
        background-color: #222;
        }

#footer h3 { /* Footer headlines */        
        color: #fff;
        }

#footer-widget-area { /* Footer general color */        
        color: #777;
        }

#footer-widget-area a,
#footer-widget-area a:link,
#footer-widget-area a:visited { /* Footer links color */        
        color: #fff;
        }

.flickr_badge_image img
        {
        background: #1a1a1a;
        }  

#social,
#copyright {
        background-color: #292929;
        color: #666;        
        }
        
#social {
        border-bottom: 1px dashed #444;
        }
        

/* SHORTCODES *****************************************************************/        

/*  Divider */
.divider_hr {
        border-bottom:1px dashed #444;
        }
        
/*  Toggle */
.toggle_container .block { 
        background:url('../../images/00030.png') repeat;
        }
        
/*  Tabs */        
.pane	{
        background:url('../../images/00030.png') repeat;
	border-color: #191919;
         color: #eee;
	}
ul.tabs li.ui-tabs-active a {
        background:url('../../images/00030.png') repeat;
        color: #eee !important;
        border-color: #191919;
        }
        
/*  Highlight */         
.highlight1 {
        color: #222;
	}